<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="">
    <link rel="stylesheet" href="css/style1.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <a href="../index.html">
                <img src="../img/logo1.png" alt="logo">
            </a>
            <ul>
                <li>
                    <a href="#">
                        Nuestro Contacto
                    </a>
                </li>
                <li>
                    <a href="../index.html">
                        Inicio
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <img class="fondo" src="../img/fon.jpeg" alt="fondo">
        <div class="ubi">
            <h1>
                Dónde nos encontramos?
            </h1>
        </div>
    </main>
</body>
</html>